{erl_opts, [debug_info]}.

{deps, [
    {proper, "1.5.0"},
    {lager, "3.9.2"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [dua]}
]}.

{relx, [{release, {dua, "0.1.0"},
         [dua,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{profiles, [
    {prod, [{relx, [{dev_mode, false},
                    {include_erts, true}]}]},
    {test, [{deps, [
                {meck, "1.0.0"}
            ]},
            {erl_opts, [debug_info, {d, 'TEST'}]}]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_apps, top_level_deps},
    {plt_extra_apps, [mnesia]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls
]}.
