[
    {dua, [
        {default_precision, 0.001},
        {max_iterations, 1000},
        {log_level, info}
    ]},
    {lager, [
        {handlers, [
            {lager_console_backend, [{level, info}]},
            {lager_file_backend, [{file, "log/dua.log"}, {level, debug}]}
        ]}
    ]}
].
